
.footer{
  background-color: $text-color;
  color: #FBFBFC;
  padding-top:200px;
  &*{
    color: inherit; 
  }
  & a{
    color:  #EFEFF2;
  }
  @include desktop{
    padding-top: 59px;
  }
}

.footer-wrapper{
position: relative;
  display: flex;
  justify-content:space-around;
  margin-bottom: 100px;
 // align-items: flex-start;

/* & > :not(:first-child) {
  margin-top: 9px;
  //
}  */ 
@include mobile-only{
  flex-wrap: wrap;  
  justify-content: space-between;
} 
}


.footer-wrap__logo{

  display: flex;
  flex-direction: column;
  gap: 30px;
  
  & a{
    color: #FBFBFC; 
  } 

  @media   (max-width: 1190px){
  position:absolute;
  top: -180px;
  left: 50%;
 
  transform: translateX(-50%);
  align-items: center;
}
@include tablet{
  flex-direction: row;
  top: -120px;
  width: 100%;
  justify-content: center;
}
}

.logo {
 @include logo;
} 

.sitemap{
  display: flex;
  flex-direction: column;
  gap: 28px;
  //outline: 2px solid red;
  @include mobile-only{
    display: flex;
    flex: 0 1 calc(50% - 10px);
    &:not(:nth-last-child(-n+2)){
       margin-bottom: 30px;
    }
  }
}
.sitemap__title{
  @include font(600, 18px, 1.22)
}
.sitemap__list{
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.sitemap__link{
  @include font(400, 18px, 1.55);
}

.copyright{
  display: flex;
  justify-content: center;
  gap: 28px;
  color: #6D6D77;
  @include font(400, 18px, 1.55);
}