.header{
  padding: 0 20px;
  position: relative;
  display: flex;
  margin-top: 36px;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  @include mobile-only{
    margin-top: 0;
  }
}

.menu__body{
  @include mobile-only{
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;  
    background-color: #DEEFE4;
    @include animation(all, 0.25s);
    overflow-y: scroll;
    padding-top: 50px;
    padding-bottom: 50px;
     z-index: 3;
    &.active{
    left: 0; 
    }
  }
  
  width: 100%;
  @media (min-width:768px) {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }   
}

.nav__list{
@media  (min-width: 768px) {
display: flex;
align-items: center;
gap: 48px;
@include font(600, 18px, 1.22);
@include mobile-only{
flex-direction: column;
gap: 0;
  }
  }
}

.logo{
  @include logo;
}

.btn__box{
display: block;
@include mobile-only{
  text-align: center;
}
@media  (min-width: 768px) {
display: flex;
align-items: center;
gap: 48px;
  }
}

.nav__link{
  @include mobile-only{
    @include font(700, 38px, 1.22);
  margin-bottom: 44px;
  }
  display:block;
  align-items: center;
  color:$text-color;
  @include font(600, 18px, 1.22);
}

.nav{
  @include mobile-only{
    text-align: center;
  }
  

  @media (min-width: 768px) {
  display: flex;
  align-items: center;
  }

}

.header__link{
@include mobile-only{
  @include font(700, 38px, 1.22);
  margin-bottom: 44px;
}
  display: block;
  color: $text-color;
  @include font(600, 18px, 1.22);
}


.trial-free{

margin-bottom: 0;
@media  (min-width: 768px) {
@include font(700, 18px, 1.22);  
  padding: 12px 37px;
  color: $body-color;
  background-color: $text-color;
  }
@include tablet{
padding: 12px 8px;
}
}

.header__menu-icon{
  display: block;
  position: relative;
   
  z-index: 4;
  width: 30px;
  height: 18px;
  cursor: pointer; 
  @media (min-width:768px){
  display: none;
}
}

.header__menu-icon-element{
  position: absolute;
  top: calc(50% - 1px) ;
  left: 0px;
  
  width: 100%;
  height: 2px;
  background-color: black;
  @include animation(all, 0.25s);
&:first-child{ 
  top: 0;
}
&:last-child{
  top: auto;
  bottom: 0;
  
 }

 // коли іконка header__menu-icon має клас activ 
  // елемент .header__menu-icon-element має такі властивості

 .header__menu-icon.active & {  
   transform: scale(0);
 
 }
 
 .header__menu-icon.active &:first-child {  
  transform: rotate(-45deg);
  top: calc(50% - 1px);
 
}
.header__menu-icon.active &:last-child {  
  transform: rotate(45deg);
  bottom: calc(50% - 1px);

}
}