.courses-tumb{
  display: flex;
  position: relative;
@include mobile-only{
  flex-direction: column;
  padding-top: 53px;
}
  align-items: flex-end;
  padding-top: 203px;
  @include tablet{
    padding-top: 103px;
  }
  &::before{
    content: " ";
    position: absolute;
    top: 10px;
    left: -250px;
    width: 100%;
    max-width: 900px;
    height: 900px;
    z-index: -1;
    background: 
    url( "../../images/designer_page/Ellipse 20.png")  no-repeat;
      background-size: cover;
  }
  &::after{
    content: " ";
    position: absolute;
    top: 100px;
    right: 50px;
    width: 900px;
  
   height: 900px;
    z-index: -1;
  @include mobile-only{
    top: 400px;
  }
    
    background: 
    url( "../../images/designer_page/Ellipse 21.png")  no-repeat;
    background-size:cover;
   //transform: rotate(60deg);
    
  }
}

.courses-text-wrapper{
  flex:  1 1 auto;
  padding-bottom: 195px;
  //outline: 2px solid red;
  max-width: 648px;
  @include mobile-narrow{
    padding-bottom: 380px;
  }
  @include tablet{
    max-width: 50%;  
  }
}
.courses__designer-wrapper{
  flex: 1 1 auto;
  //outline: 2px solid red;
  position: relative;
   
 top: 35%;
 right: 0;
 height: 390px;
  width: 100%;
 @include desktop{
  height: 510px;
  width: 100%;
 }
 
  background: 
  url("../../images/designer_page/Rectangle 107.png")  no-repeat;
  background-position: 100%;
  background-size:contain;
  

}

.courses__time-during{
  position: relative;
  @include font(700, 18px, 1.20);
  margin-bottom: 40px;
  @include mobile-only{
    margin-left: 35px;
  }
  &::after{
    content: " ";
    position: absolute;
    top: 25px;
    left: 0px;
    width: 84px;
    height: 2px;
    border: 1px solid $text-color;
    background:$text-color;
  
  }


  &:hover::after{
    border: 1px solid $accent-primary;
    background:$accent-primary;
  }
}

.courses__profession{
  @include mobile-only{
    margin-left: 35px;
  }
  @include font(400, 18px, 1.55);
  margin-bottom: 5px;
}

.courses__title{
margin-bottom: 30px;
  @include mobile-only{
    margin-left: 35px;
    @include font(700, 38px, 1.22);
  }
  @include tablet{
    @include font(700, 38px, 1.22);
  }
  @include desktop{
    @include font(700, 58px, 1.22);
  }
}

.courses__text{
  @include mobile-only{
    margin-left: 35px;
  }
  @include font(400, 18px, 1.55);
  margin-bottom: 30px;
}
.courses__button{
  display: block;
   padding: 16px 37px;
  margin-bottom: 75px;
  @include mobile-only{
    margin-left: auto;
    margin-right: auto;
  }
 
@include font(700, 18px, 1.22);  
  color: $text-color;
  background-color: $color-white-one;
  border: 1px solid $text-color;
  @include animation(background-color, 0.25s);

&:hover{
color:$color-white-one;
border: 1px solid $accent-primary;
background-color: $accent-primary;
}
}

.courses__sales{
  @include mobile-only{
    margin-left: 35px;
    @include font(700, 38px, 1.22);  
  }
  margin-bottom: 5px;
  @include font(700, 58px, 1.22);  
}
.courses__time{
  @include mobile-only{
    margin-left: 35px;
  }
  @include font(400, 18px, 1.55);
}
.courses-hero_image{
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0px;
   height: 130%;
 // width: auto;  
 max-width: 350px;  
 @include desktop{
  max-width: 100%;  
 }
  
  object-fit: cover;
  //outline: 2px solid yellow; 
}
.courses__wrapper-list{
  @include mobile-narrow{
    position: relative;
    width: 100%;
  }
}
.courses-list{
  position: relative;
  @include mobile-narrow{
    position: absolute;
    top: -70%;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
}
.courses__item{
  position: absolute;
   padding: 6px 20px;
border: 2px solid $text-color;
@include font(600, 18px, 1.22);
@include mobile-narrow{
  position: static;
}
@include desktop{
 
padding: 16px 36px;
}
}

 .invision {
  top: -150px;
  right: 0;

  @include tablet{
    top: -140px;
    right: 0;
  }
  @include desktop{
  top: -170px;
  right: 0px;
  }

}

.protopie{
  top: -220px;
  right: 110px;
  @include tablet{
    top: -200px;
    right: 120px;
  }
  @include desktop{
    top: -270px;
  right: 150px;
  }
}

.miro{
  top: -140px;
  right: 250px;
  @include tablet{
    top: -110px;
    right: 230px;
  }
  @include desktop{
     top: -200px;
  right: 360px;
  }
 
}
.photoshop{
  top: -50px;
  right: 350px;
  @include tablet{
    top: 0px;
    right: 320px;
  }
  @include desktop{
    top: -40px;
  right: 350px;
  }
  
}
.figma{
  top: 90px;
  right: 400px;
  @include tablet{
    top: 130px;
    right: 390px;
  }
  @include desktop{
     top: 120px;
  right: 630px;
  }
 
}
 
.illustrator{
  top: 270px;
  right: 370px;
@include tablet{
  top: 270px;
  right: 390px;
}
@include desktop{
  top: 270px;
  right: 590px;
}
  
} 